@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background: linear-gradient(45deg, #131A31, #02000E);
}


.input-field {
    background-color: transparent;
    padding: 10px 15px;
    outline: none;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 100%;
    color: #bababa;
    border-radius: 6px;
    font-size: 15px;
    margin: 5px;
}

.mui--icons {
    color: whitesmoke;
}


li, ul{
    list-style: none;
}

.active {
    transform: translateX(-100%);
}

.profile-active {
    transform: translateX(100%);
}

.profile--btn {
    padding: 10px;
}


